/*
#q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11 {
    display: none;
    display:block;
            
}
*/
images{
    width: 100%;
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	margin:0 auto;
	text-align: left;
    border:solid black 10px;
    background-color: #8a0707;
	
}

h1{
    font-size: 4em;
    color: orange;
}

p{
	font-size:3em
        ;
}
select {
	font-size: 40px;
	margin-bottom: 30px;

